# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Spark
derby.log
metastore_db/
spark-warehouse/

# Delta Lake data
data/

# Airflow
orchestration/airflow.db
orchestration/logs/
orchestration/airflow.cfg
orchestration/standalone_admin_password.txt

# dbt
transformation/financial_transforms/target/
transformation/financial_transforms/dbt_packages/
*.duckdb

# Mac
.DS_Store
